*
  margin: 0
  padding: 0
  
body
  background: #FFF
  font-family: Verdana, Arial, Helvetica, sans-serif
  
.step
  margin-top: 20px
  font-weight: bold
  .header
    text-align: center
  
  .input
    font-weight: normal
    margin-top: 20px
    font-size: 11px
    .title
      font-weight: bold
      font-size: 14px
  
  table.weights
    width: 100%
    padding: 20px
    border-spacing: 0
    border-collapse: collapse
    clear: both
    table-layout: fixed
    tr
      border-collapse: collapse
      td
        overflow: hidden
        white-space: nowrap
        border: 1px solid #CCC
        text-align: center
        font-family: Monospace
        font-size: 11px
        font-weight: normal
        table
          table-layout: fixed
          width: 100%
          tr
            td
              border: none
              padding-left: 1px
              padding-left: 1px
              
          &.input
            border: none
          &.closer
            background: #fbf325
          &.first_out
            background: #38b6d6          
          &.range_1  
            background: #357DC0
          &.range_2  
            background: #3C80C0
          &.range_3  
            background: #4484C1
          &.range_4  
            background: #4B88C1
          &.range_5  
            background: #538CC2
          &.range_6  
            background: #5A90C3
          &.range_7  
            background: #6294C3
          &.range_8  
            background: #6998C4
          &.range_9  
            background: #719CC4
          &.range_10  
            background: #78A0C5
          &.range_11  
            background: #80A4C6
          &.range_12  
            background: #88A8C6
          &.range_13  
            background: #8FACC7
          &.range_14  
            background: #97B0C7
          &.range_15  
            background: #9EB4C8
          &.range_16  
            background: #A6B8C9
          &.range_17  
            background: #ADBCC9
          &.range_18  
            background: #B5C0CA
          &.range_19  
            background: #BCC4CA
          &.range_20  
            background: #C4C8CB
          &.range_21  
            background: #CCCCCC   
